<h3>Here is your article feed:</h3>
<ul class="article-list">
  <li class="article-list__item">
    <article class="article-card">
      <div class="article-card__author-info">
        <div class="article-card__avatar">
          <img class="article-card__img" src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/128.jpg">
        </div>
        <div class="article-card__container">
          <span class="article-card__name">John Moore Williams</span>
          <span class="article-card__post-time">5 days ago</span>
        </div>
      </div>
      <div class="article-card__info">
        <h4 class="article-card__title">The Ideal Design Workflow</h4>
        <h5 class="article-card__subtitle">Tools and processes to create products people love</h5>
      </div>
    </article>
  </li>
  <li class="article-list__item">
    <article class="article-card">
      <div class="article-card__author-info">
        <div class="article-card__avatar">
          <img class="article-card__img" src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/128.jpg">
        </div>
        <div class="article-card__container">
          <span class="article-card__name">John Moore Williams</span>
          <span class="article-card__post-time">5 days ago</span>
        </div>
      </div>
      <div class="article-card__info">
        <h4 class="article-card__title">The Ideal Design Workflow</h4>
        <h5 class="article-card__subtitle">Tools and processes to create products people love</h5>
      </div>
    </article>
  </li>
  <li class="article-list__item">
    <article class="article-card">
      <div class="article-card__author-info">
        <div class="article-card__avatar">
          <img class="article-card__img" src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/128.jpg">
        </div>
        <div class="article-card__container">
          <span class="article-card__name">John Moore Williams</span>
          <span class="article-card__post-time">5 days ago</span>
        </div>
      </div>
      <div class="article-card__info">
        <h4 class="article-card__title">The Ideal Design Workflow</h4>
        <h5 class="article-card__subtitle">Tools and processes to create products people love</h5>
      </div>
    </article>
  </li>
</ul>
