<h1>All Articles</h1>

<div class="row">
  {{#each model as |article|}}
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">{{article.title}}</h3>
          <p class="card-text">{{article.content}}</p>
          {{#each article.tags as |tag|}}
            <span class="label label-success">{{tag.label}}</span>
          {{/each}}
        </div>
        <div class="card-block text-xs-right">
          {{#link-to "article.index" article}}
            <a href="#" class="card-link">read snippet</a>
          {{/link-to}}
        </div>
      </div>
    </div>
  {{/each}}
</div>


