<article class="post-article">
  <div class="article-card__author-info">
    <div class="article-card__avatar">
      <img class="article-card__img" src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/128.jpg">
    </div>
    <div class="article-card__container">
      <span class="article-card__name">John Moore Williams</span>
      <span class="article-card__post-time">5 days ago</span>
    </div>
  </div>
  <div class="article-card__info">
    <h2 class="article-card__title">The Ideal Design Workflow</h2>
    <h5 class="article-card__subtitle">Tools and processes to create products people love</h5>
  </div>
  <div class="post-article__content">
    <p>
      As designers, we are constantly experimenting with tools and processes in an attempt to find the one that works best.
      After a great deal of experimentation, I’ve discovered the perfect design workflow, and I’m going to share it with you now.
      Design is a process and the process I’m going to share is the one I’ve used on all my projects to build habit-forming products that people love.
    </p>
    <p>
      1.) Sketching (paper and pen) — every great design begins on paper. Get out that paper and pen and start drawing some shapes.
    </p>
    <p>
      2.) Your next step is to take photos of your sketches on your smart phone and throw those babies into POP so you can test your prototype.
    </p>
    <p>
      3.) Your next step is to make wireframes. Having sketches is never enough. Wireframes are a must 100% of the time.
      There is simply no way around it. Go ahead and open Omnigraffle and make your wires.
    </p>
    <p>
      4.) Now realize you need a dropdown menu so re-do those wires in Balsamiq.
    </p>
    <p>

    </p>
  </div>
</article>
